@import "tailwindcss";

@layer base {
    body {
        @apply bg-white text-[#1b1b1b];
    }
}

@layer components {
    .btn-primary {
        @apply bg-[#f2b23a] text-[#1b1b1b] px-5 py-2 rounded-lg font-medium;
    }

    .btn-2nd {
        @apply bg-[#f2b23a] text-[#1b1b1b] px-8 py-4 rounded-lg font-medium;
    }

    .nav-link {
        @apply text-[#1b1b1b] underline underline-offset-4;
    }

    .contact-link {
        @apply text-[#1b1b1b] underline underline-offset-4 hover:text-[#f2b23a];
    }

    .font-tilt {
        font-family: "Tilt Warp", cursive;
    }

    .font-times {
        font-family: "Times New Roman", Times, serif;
    }

    .font-montserrat {
        font-family: "Montserrat", sans-serif;
    }
}